/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container{
    background-color: gold;
    height: 500px;
    /* width: 400px; */
    border: 5px solid black;
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows:90px 90px 90px 90px; */
    grid-template-rows:1fr 1fr 1fr;
    gap: 5px;
}

.box{
    height: 40px;
    width: 40px;
    background-color: aquamarine;
    border: 3px solid black;
}